stages:
  - build
  - run

build_job:
  stage: build
  image: gradle:8.2-jdk21
  script:
    - ./gradlew clean bootJar
  artifacts:
    paths:
      - build/libs/*.jar
  rules:
    - when: always

run_job:
  stage: run
  image: eclipse-temurin:21
  dependencies:
    - build_job            # get artifacts from build
  script:
    - java -jar build/libs/demo-0.0.1-SNAPSHOT.jar &
    - sleep 10
    - curl http://localhost:8080/hello
  timeout: 3m
  rules:
    - when: always