spring:
  application:
    name: demo

server:
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: password
    key-store-type: PKCS12
    key-alias: localhost

openai:
  #this api-key has to be same as secret key in https://platform.openai.com/api-keys
  api-key: sk-proj-MyDummyKey